
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to the Health Awareness Session</h1>

<p> In this session you get the more information regarding, How to became healthy by simply changing small small habbits</p>

<img src="https://ehonami.blob.core.windows.net/media/2016/10/get-motivated-minutes-morning-yoga.jpg" alt="Yoga" style="width:50%;">
<a class="nav-link text-dark" asp-area="" asp-controller="Assignment" asp-action="RegistrationForm">Register Here</a>

