@model User
@{
    ViewData["Title"] = "RegistrationForm";
}

<h1>Registration Form</h1>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    
<form asp-controller="Assignment" asp-action="DisplayForm" method="post">

        <div class="form-control">
            <label for="name">Name</label>

            <input name="name"
                   type="text"
                   data-val-required="Name is required."
                   data-val="true"
                   style="margin-left: 30px;" /><br />
            <span data-valmsg-for="name"
                  data-valmsg-replace="true"
                  style="margin-left: 75px; color: red;" />
        </div>
        <div class="form-control">
            <label for="mobile">Mobile no.</label>
            <input name="mobile"
                   type="number"
                   data-val-required="Mobile no. is required."
                   data-val="true" /><br />
            <span data-valmsg-for="mobile"
                  data-valmsg-replace="true"
                  style="margin-left: 78px; color: red;" />
        </div>

        <div class="form-control">
            <label for="email">E-Mail </label>
            <input type="email" name="email"
                   data-val-required="Email is required."
                   data-val="true"
                   style="margin-left: 30px;" /><br />
            <span data-valmsg-for="email"
                  data-valmsg-replace="true"
                  style="margin-left: 80px; color: red;" />
        </div>
        <div class="form-control">
            <span>Will You Attend</span>
            <select asp-for="WillAttend" class="form-control" aria-labelledby="btnDropdownDemo">
                <option selected disabled>---Confirmation---</option>
                <option class="dropdown-item" value="Yes">Yes, I will be there</option>
                <option class="dropdown-item" value="No">No, Not Possible this time</option>
            </select>
        </div>
        <br />
        <div class="d-flex justify-content-between align-items-center">
            <div class="text-right"> <button class="btn btn-success register btn-block">Submit</button> </div>
        </div>

    </form>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
